:root {
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

body {
  align-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body > div {
  flex: 1;
  margin: 0 auto;
  max-width: 15em;
  padding: 0;
}

form[name='pass'] p:not([role='alert']) {
  display: flex;
  flex-wrap: wrap;
  gap: .75em;
}

form[name='pass'] p:last-of-type:not([role='alert']) > label {
  visibility: hidden; /* Hide “Actions” label */
}

form[name='pass'] p:not([role='alert']) > label {
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 3em;
}

form[name='pass'] p:not([role='alert']) > label + br + span {
  flex: 1;
}

form[name='pass'] p:not([role='alert']) > label + br + span[role='group'] {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

form[name='pass'] p:not([role='alert']) > label + br + span input[type='password'],
form[name='pass'] p:not([role='alert']) > label + br + span input[type='text'] {
  display: block;
  max-width: 100%;
  width: 100%;
}

form[name='pass'] p:not([role='alert']) > label:empty,
form[name='pass'] p:not([role='alert']) > label:empty + br {
  display: none;
}

form[name='pass'] p:not([role='alert']) > label:empty + br + span {
  justify-content: center;
}